/* 8. Margin mixin  */
@mixin body-mix {
    margin: 10px;
    padding: 10px;
}
@mixin div-mix {
    margin: 15px;
    padding: 15px;
}
  
body {
    @include body-mix;
}
div {
    @include div-mix;
}